body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/123/702/385/technology-bitcoin-coin-cryptocurrency-money-hd-wallpaper-e8d2f517c29e74cd1878dceaf7a39c66.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.5);
}

.ticker-container {
    overflow: hidden;
    position: relative;
    background-color: #333;
    background-attachment: fixed;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#ticker {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#ticker li {
    display: inline;
    padding: 10px 20px;
    font-size: 18px;
    border-right: 1px solid #fff;
}

#ticker li:last-child {
    border-right: none;
}

.tab-cont {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-left: 60%;
}

.tab-item {
   width: 20%;
   text-align: center;
   font-size: small;
   text-decoration: none;
}

.tab-item:not(:last-child)::after {
    margin-right: 10px;
}

.tab-item a {
    display: block;
    padding: 1px;
    text-decoration: none;
} 

.tab-item a:visited {
    color: #fff;
}

.tab-item a:hover{
    color: red;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: small;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: small;
    padding: 5px 5px;
  }
}

.text-container {
    display: inline-block;
    margin: 20px;
    padding: 25px;
    border-width: 4px;
    border-color: #000;
    border-radius: 50px;
    line-height: 0.8;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;

}

.text-container1 {
    display: inline-block;
    margin-left: 20em;
    padding: 2em;
    border-width: 4px;
    border-color: #000;
    border-radius: 50px;
    line-height: 0.8;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: red;
}

.text-container2 {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-width: 4px;
    border-color: #000;
    border-radius: 50px;
    line-height: 1.0;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
}

.text-container3 {
    text-indent: 30px;
    margin: 10px;
    padding: 20px;
    border-width: 4px;
    border-color: #000;
    border-radius: 50px;
    line-height: 1.0;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
    display: flex;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: flex-start;
}

.text-container4 {
    text-indent: 30px;
    text-align: left;
    margin: 10px;
    padding: 20px;
    border-width: 4px;
    border-color: #000;
    border-radius: 50px;
    line-height: 1.0;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
}

.contact {
    text-align: justify;
    height: auto;
    width: 98% ;
    padding: 20px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, rgb(177, 4, 4), rgb(9, 9, 9));
}

.buttoner {
    background-color: #84010a;
    color: antiquewhite;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}